@import url('https://fonts.googleapis.com/css?family=Bellota+Text&display=swap');

.content{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
    font-family: 'Bellota Text', sans-serif;
    flex-direction: column;
    text-align: center;
    cursor: arrow;
}

.sosialeMedier{
    display: grid;
    margin-top: 25px;
    align-self: center;
    align-content: center;
    justify-content: space-around;
    width: 350px;
    grid-template-columns: 1fr 1fr 1fr;
}

.sosiallogo{
    height: 50px;
    justify-self: center;
}

.circle{
    width: 0px;
    height: 0px;
    border: 2.5px solid black;
    border-radius: 50%;
    animation: circleAnimation 1.5s forwards;
}

@keyframes circleAnimation{
    from{width: 0px; height: 0px; display: block;}
    to{width: 40px; height: 40px; opacity: 0%;}
}